<div id="navigation" class="sidebar">
  <ul class="link_list">
    <li>
      <a class="internal" href="{% link index.html %}">Blog</a> | <a class="internal" href="{{ "/feeds/posts/default" | relative_url }}">Feed</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writing.html %}">Writings</a>
    </li>
    <li>
      <a class="internal" href="{% link about.html %}">About Me</a>
    </li>
    <li>
      <a class="internal" href="{% link pictures.html %}">Pictures</a>
    </li>
    <li>
      <a class="internal" href="{% link projects.html %}">Projects</a>
    </li>
    <li>
      <a class="internal" href="{% link firefoxthemes.html %}">Firefox Themes</a>
    </li>
  </ul>
  
  <address>
    <a href="mailto:webmaster@stephenduncanjr.com">Contact Me</a>
  </address>
  
  <form method="get" action="http://www.google.com/custom">
    <div id="googlesearch">
      <label for="inputField">
        <span style="background-color:white;font-family:monospace;">
          <span style="color:blue;">G</span><span style="color:red;">o</span><span style="color:#CCCC00;">o</span><span style="color:blue;">g</span><span style="color:green;">l</span><span style="color:red;">e</span>
        </span>
        <span style="font-size:50%;">tm</span>  Search:
        <input id="inputField" type="text" size="15" name="q" maxlength="255" />
      </label>
      <input type="submit" value="Go"/>
      <br />
      <input type="hidden" name="sitesearch" checked="checked" value="www.stephenduncanjr.com" />
      <input type="hidden" name="domains" value="www.stephenduncanjr.com" />
    </div>
  </form>
</div>
