<div id="free-style-content">
  <h2>Poetry</h2>
  <ul class="link_list">
    <li>
      <a class="internal" href="{% link writing/writings/conservative.html %}">Conversing With a Conservative</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/extremum.html %}">Extremum</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/forawhile.html %}">For a While</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/spite.html %}">In Spite of it All</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/interstate42.html %}">Interstate 42</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/littlegirl.html %}">Little Girl</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/masonry.html %}">Masonry</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/myescape.html %}">My Escape</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/collegecampus.html %}">The College Campus</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/trashcan.html %}">Trashcan</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/whatyouare.html %}">What You Are</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/comingfall.html %}">The Coming of Fall</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/timeisgod.html %}">Time is God</a>
    </li>
    <li>
      <a class="internal" href="{% link writing/writings/double.html %}">A Double-Edged Sword</a>
    </li>
  </ul>
</div>
  