<div id="prose-content">
  <h2>Prose</h2>
  <ul class="link_list">
    <li>
      <a class="internal" href="writings/badnight.html">Bad Night</a>
    </li>
    <li>
      <a class="internal" href="writings/lastnight.html">Last Night</a>
    </li>
    <li>
      <a class="internal" href="writings/hemingway.html">Hemingway Parody</a>
    </li>
    <li>
      <a class="internal" href="writings/abortion.html">Abortion Argument</a>
    </li>
    <li>
      <a class="internal" href="writings/valedictory.html">My Valedictory Speech</a>
    </li>
    <li>
      <a class="internal" href="writings/votelib.html">A column on voting Libertarian.</a>
    </li>
    <li>
      <a class="internal" href="writings/libelection.html">A column on Third-party and Libertarian Voting</a>
    </li>
    <li>
      <a class="internal" href="writings/canolacase1.html">Charlie Canola: Case 1 -- By Devin Flavin and Joel Ayres</a>
    </li>
  </ul>
</div>
