<div id="free-style-content">
  <h2>Poetry</h2>
  <ul class="link_list">
    <li>
      <a class="internal" href="writings/conservative.html">Conversing With a Conservative</a>
    </li>
    <li>
      <a class="internal" href="writings/extremum.html">Extremum</a>
    </li>
    <li>
      <a class="internal" href="writings/forawhile.html">For a While</a>
    </li>
    <li>
      <a class="internal" href="writings/spite.html">In Spite of it All</a>
    </li>
    <li>
      <a class="internal" href="writings/interstate42.html">Interstate 42</a>
    </li>
    <li>
      <a class="internal" href="writings/littlegirl.html">Little Girl</a>
    </li>
    <li>
      <a class="internal" href="writings/masonry.html">Masonry</a>
    </li>
    <li>
      <a class="internal" href="writings/myescape.html">My Escape</a>
    </li>
    <li>
      <a class="internal" href="writings/collegecampus.html">The College Campus</a>
    </li>
    <li>
      <a class="internal" href="writings/trashcan.html">Trashcan</a>
    </li>
    <li>
      <a class="internal" href="writings/whatyouare.html">What You Are</a>
    </li>
    <li>
      <a class="internal" href="writings/comingfall.html">The Coming of Fall</a>
    </li>
    <li>
      <a class="internal" href="writings/timeisgod.html">Time is God</a>
    </li>
    <li>
      <a class="internal" href="writings/double.html">A Double-Edged Sword</a>
    </li>
  </ul>
</div>
  