<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title | escape }}{% if page.type == "month" %}: {{ page.date | date: "%B %Y" }}{% elsif page.title %}: {{ page.title | escape }}{% endif %}</title>
    <meta name="Author" content="Stephen Duncan Jr." />
    <meta name="description" content="{{ site.description | escape }}" />
    <meta name="keywords" content="Stephen,Duncan,Stephen Duncan" />
    <meta name="google-site-verification" content="azz-gr6wqTzFwH604lYSEIaCoBhzniepgoYUe42Ix5M" />
    <link rel="stylesheet" type="text/css" title="Default" href="{{ "/css/default.css" | relative_url }}" />
    {% feed_meta %}
    
    <script type="text/javascript" src="{% link js/main.js %}"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('jquery', '1.3.2');
      
      google.setOnLoadCallback(function() {
        prettify_archives();
      });
    </script>
    
    <style type="text/css">
      #navbar-iframe {
        display: none;
      }
      
      #disqus_thread, #disqus_thread #dsq-content {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h1 id="banner">{{ site.title | smartify | escape }} <span id="subBanner">{{ site.description | smartify | escape }}</span></h1>
    
    {{ content }}
  </body>
</html>
