---
layout: base
---
<div id="content_section">
  {%- include update.html -%}

  {%- assign postsByDate = site.posts | limit: 15 | group_by_exp:"post", "post.date | date: '%A, %B %e, %Y'" -%}
  {%- for date in postsByDate -%}
    <h2 class="DateHeader">
      {{ date.name }}
    </h2>
    {%- for post in date.items -%}
      {% include post.html item=post %}
    {%- endfor -%}
  {%- endfor -%}
</div>
<div id="navigation_section">
  {%- include navigation.html -%}
  {%- include archive-sidebar.html -%}
</div>

<script id="dsq-count-scr" src="//stephensstatements.disqus.com/count.js" async></script>
